
# HTID:3385313: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:3385313:

# HTID:3385403: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
AuthType Basic
AuthName "Restricted Access"
AuthUserFile "/storage/ssd4/333/3672333/public_html/.htpasswd"
Require user david
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:3385403:

# HTID:3385411: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
AuthType Basic
AuthName "Restricted Access"
AuthUserFile "/storage/ssd4/333/3672333/public_html/.htpasswd"
Require user marta
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:3385411:
